extends layout

block preBody 
    link(rel="stylesheet", href="/stylesheets/login.css")

block content
    center 
        h1 Welcome to Social Ex
    .container
        .content
            h2 Login
            form(action="")
                div 
                    label.form-label(for="email") Email:
                    input#email(type="email", name="email")
                div 
                    label.form-label(for="password") Password:
                    input#password(type="password", name="password") 
                div
                    button#submit(type="submit") Log In