link(rel="stylesheet", href="../stylesheets/header.css")
.header
    nav
        .title 
            h2 Social Ex 
        .info
            p John Doe
            img(src=`https://avatars.dicebear.com/api/human/${Math.random()}.svg`, alt="", width='40px', height='40px')