.postcard {
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.postheader {
  display: flex;
  height: 32px;
  padding: 5px;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 5px;
}

.userimage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: lightgray;
  margin-right: 5px;
}

.username {
  font-size: large;
}

.postTime {
  margin-left: auto;
}

.postTitle {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1em;
}

.postbody {
  max-height: 85vh;
  max-width: 100%;
  display: flex;
}

.postcontent {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  scroll-behavior: smooth;
}

.postimg {
  margin-bottom: 0.2em;
}

.postimg > img {
  object-fit: contain;
  max-width: 500px;
}

.postimg > hr {
  margin: 5px 0px;
}

.postText {
  overflow-y: scroll;
  max-height: 20vh;
  text-indent: 10px;
}

.postfeatures {
  display: flex;
  flex-direction: column;
}

.postfeatures > div {
  margin: 10px 0px;
}

.postfeatures img {
  height: 32px;
  width: 32px;
  object-fit: contain;
  cursor: pointer;
}

.postfeatures button:hover {
  background-color: rgb(251, 212, 139);
  transform: scale(1.1);
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;
}
